.home {
    margin-top: 68px;
    .header-section {
        background: url(../assets/images/header-bg.jpg) no-repeat scroll right center;
        background-origin: content-box;
        // height: 24vh;
        // background-size: 100%;
        p, h4 {
            text-transform: uppercase;
        }
        h4 {
            max-width: 60%;
        }
    }
    p {
        padding-top: 2.6em;
    }
    p, h4 {
        max-width: 90%;
        padding-left: 1em;
        padding-right: 1em;
    }
    button {
        margin-left: 1em;
    }
}